<html>

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>

<body style="font-family: Arial, sans-serif; margin: 0">
  <table style="max-width: 800px; margin: 0 auto; background-color: #fff; border-collapse: collapse; border: none">
    <tr>
      <td style="padding: 20px; text-align: start; background-color: #228920; color: #fff">
        <img src="<%= companyLogo %>" alt="Company Logo" style="height: 60px; margin-bottom: 10px" />
      </td>
    </tr>
    <tr>
      <td style="padding: 20px">
        <p style="font-size: 16px; line-height: 1.5">Hi <%= clientFirstName %>,</p>
        </br>

        <p style="font-size: 16px; line-height: 1.5">
          <a href="<%= clientLink %>" target="_blank" style="color: #228920; text-decoration: none">
            Invitation link
          </a>
        </p>
        </br>

        <p style="font-size: 16px; line-height: 1.5">
          Any text
        </p>
        </br>

        <p style="font-size: 16px; line-height: 1.5">Best regards,</p>
      </td>
    </tr>
  </table>
</body>

</html>